body {
	background-color: #42a4f4;
	font-size: 16px;
}

#box {
	margin-top: 80px;
}

.quote-border {
  background-color: white;
  margin: 50px;
  padding: 80px;
  border-radius: 10px;
  box-shadow: 10px 10px 15px grey;
}

h2 {
	color: #42a4f4;
	font-family: 'Indie Flower', cursive;
	font-size: 4em;
}

#author {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
}

.credits {
	color: white;
  	font-family: 'Open Sans', sans-serif;
	margin: 20px;
	font-size: 1.5em;
}

#newQuoteButton {
	margin-top: 20px;
	font-family: 'Open Sans', sans-serif;
	font-size: 3em;
	border-radius: 10px;
}

#tweet-button {
	margin-left: 20px;
	color: #00aced;
	font-size: 3em;
}

#tweet-button:hover {
	cursor: hand; cursor: pointer;
}

@media only screen and (max-width: 768px){

	#box {
		margin-top: 200px;
	}

	h2 {
		font-size: 3em;
	}

	#newQuoteButton {
		font-size: 3em;
	}

	#author {
		font-size: 1em;
	}
}

